* {
	margin:         0;
	padding:        0;
	box-sizing:     border-box;
	font-family:    'Outfit', sans-serif;
}
body {
	background-color: hsl(217, 54%, 11%);
}

#card {
	display:          flex;
	justify-content:  flex-start;
	flex-direction:   column;
	align-items:      flex-start;
	text-align:       left;
	height:           480px;
	width:            280px;
	background-color: hsl(216, 50%, 16%);
	color:            hsl(0, 0%, 100%);
	margin:           7rem auto 2rem;
	padding:          18px;
	border-radius:    3%;
	box-shadow:       10px 10px hsl(217, 54%, 11%);
}
#card a:hover {
	background:           url('file:///C:/Users/hr65uo/OneDrive%20-%20ING/Desktop/webdev/nft-preview-card-component-main/icon-view.svg') no-repeat;
	background-color:     hsl(178, 100%, 50%);
  background-position: center;
	border-radius:        3%;

}
#equilibrium:hover {
	opacity: 0.3;
}

#equilibrium {
	width:          100%;
	border-radius:  3%;
}

h1 {
	font-size:      18px;
	margin-bottom:  10px;
	margin-top:     20px;
}
h1:hover, #creator:hover {
	color: hsl(178, 100%, 50%);
}
#description {
	color:          hsl(215, 51%, 70%);
	font-size:      0.85rem;
	margin-bottom:  10px;
	font-weight:    300;
}
#line {
	display:        inline-flex;
	flex-direction: row;
	margin-bottom:  20px;
	margin-top:     10px;	
}
#img-eth {
	width:        10%;
	margin-right: 5px;
	margin-left:  3px;
	height:       90%;
}
#eth {
	color:        hsl(178, 100%, 50%);
	font-size:    0.80rem;
	display:      inline-flex;
	margin-right: 85px;
}
#time {
	font-size:      0.80rem;
	color:          hsl(215, 51%, 70%);
	display:        flex;
	align-items:    center;
	justify-items:  center;
	
}
#img-clock {
	width:        16%;
	height:       90%;
	margin-right: 5px; 
}

hr {
	border:         0.5px solid hsl(215, 32%, 27%);
	width:          100%;
	margin-bottom:  15px;
}
#create {
	color:        hsl(215, 51%, 70%);
	font-size:    0.80rem;
	display:      inline-flex;
	align-items:  center;
}
#avatar {
	width:          10%;
	border:         0.5px solid hsl(0, 0%, 100%);
	border-radius:  50%;
	margin-right:   15px;
	
}
#creator {
	color:        hsl(0, 0%, 100%);
	margin-left:  5px;
}
.attribution {
	text-align: center;
	color:      white;
	font-size:  0.60rem;
}
footer a {
	color:            hsl(215, 51%, 70%);
	text-decoration:  none;
}
@media screen and (max-width: 500px) {
	#card {
		height:   550px;
		width:    340px;
		margin:   4rem auto 2rem;
		padding:  20px;
}
	h1 {
		font-size:      1.3rem;
		margin-bottom:  15px;
}
	#description {
		font-size:    0.97rem;
		line-height:  1.6;
}
	#line {
		display:        inline-flex;
		flex-direction: row;
		margin-bottom:  15px;
		margin-top:     8px;
}
	#eth {
		margin-right: 110px;
		font-size:    1rem;
}
	#time, #create {
		font-size: 1rem;
}

}
